body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #fce2f7;
  padding: 1;
  margin: 0;
}

html, body {
height: 100%;
margin: 0;
display: flex;
flex-direction: column;
}

header {
  background-color:#f8c2ea;
  margin-bottom: 0px;
}

.logo {
  display: block;
  width: 200px;
  align-content: center;
  margin: 0 auto;
  margin-bottom: -40px;
}

h1{
  text-align: center; 
  padding: 0px;
  margin-top: 20px;
  font-size: 400%;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

hr {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  height: 3px;
  margin: 0;
}

nav {
  background-color: #ffe8fb; 
  padding: 10px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0px;
  margin-top: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  text-align: center;
}

.nav a {
  font-size: 26px;
  margin: 20px;
}

a:hover{
  text-decoration: underline;
}

.active {
  text-decoration: underline; 
}

a {
  color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
}

main {
  flex: 1;
}

h2{
  text-align: center;
}

.otsikko {
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
 }

p{
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
}

ul{
  margin-left: 20px;
  margin-right: 50px;
}

.paw {
  margin-top: 20px;
  margin-bottom: 0px;
  width: 30px;
  margin-left: 110px;
}

div.gallery { 
    border: 1px solid	 #ccc;
    background-color: #f8c2ea;
    display: table;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div.gallery img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

div.nimi {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

div.desc {
    padding-bottom: 5px;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}
  
* {
    box-sizing: border-box;
}

nav {
    background-color: #ffe8fb; 
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0px;
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    text-align: center;
}

.nav a {
    font-size: 26px;
    margin: 0 20px
}

footer {
  background-color: rgb(72, 67, 72);
  color: white;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer p {
  font-size: 16px;
  margin: 5px 0;
}

.footer-section {
  margin-bottom: 10px;
  flex: 1 1 200px;
  min-width: 150px;
}

.footerlogo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 10px;
}

.iglogo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.aukiolofooter {
  margin-top: 10px;
}

.footerinformation {
  margin-top: 10px;
}

.username {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.footerinstagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 768px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  h1 {
    font-size: 300%;
  }

  p {
    font-size: 20px;
  }
  
  .nav a{
    margin: 5px;
  }
}