header {
  background-color: #f8c2ea;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.logo {
  display: block;
  width: 200px;
  align-content: center;
  margin: 0 auto;
  margin-bottom: -40px;
}

hr {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  height: 0px;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline; 
}

a {
  color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
}

h1 {
  text-align: center; 
  padding: 0px;
  margin-top: 20px;
  font-size: 400%;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #fce2f7;
  padding: 1px;
  margin: 0;
}

p {
  font-size: 24px;
  margin-left: 50px;
  margin-right: 50px;
}

ul{
  margin-left: 20px;
  margin-right: 50px;
}

nav {
  background-color: #ffe8fb; 
  padding: 10px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0px;
  margin-top: 0;
  padding-top: -5px;
  border-radius: 4px;
}

.nav a {
  font-size: 26px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 768px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
}